:root {
  --sys-display-large: 500 5.5rem / 5.625rem Google Sans, Helvetica, Arial, sans-serif;
  --sys-display-medium: 400 2.5rem / 3rem Google Sans, Helvetica, Arial, sans-serif;
  --sys-display-small: 400 2.25rem / 2.75rem Google Sans, Helvetica, Arial, sans-serif;
  --sys-headline-large: 400 2rem / 1.75rem Google Sans, Helvetica, Arial, sans-serif;
  --sys-headline-small: 400 1.5rem / 2.25rem Google Sans, Helvetica, Arial, sans-serif;
  --sys-title-large: 400 1.5rem / 2.25rem Google Sans Text, Helvetica, Arial, sans-serif;
  --sys-body-large: 400 1.125rem / 1.75rem Google Sans Text, Helvetica, Arial, sans-serif;
  --sys-label-large: 500 1rem / 1.25rem Google Sans Text, Helvetica, Arial, sans-serif;
  --mat-app-label-large-font: v .$ font-display;
}

body{
  margin: 0;
}

p{
  margin: 0;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 50px;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  height: 100px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.left-header, .menu-ul{
  display: flex;
  align-items: center;
}
.menu-ul{
  list-style: none;
  gap: 2rem;
}

.logo{
  height: 1.5rem;
  object-fit: cover;
}
.project-name, .menu-ul{
  font: var(--sys-label-large);
  letter-spacing: var(--sys-label-large-tracking);
}
.project-name{
  font-size: 20px;
}

/* main */
.intro{
  width: 45%;
  text-align: center;
  margin: 9rem auto;
  margin-bottom: 7.125rem;
}

.title{
  font-family: "Acme", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 5.5rem;
  margin: 0 0 44px;
}
.gradient-title{
  background: linear-gradient(to right, rgb(9, 237, 153), rgb(99, 178, 86));
  background-clip: text;
  color: transparent;
}

.subtitle{
  font: var(--sys-headline-small);
  letter-spacing: var(--sys-headline-small-tracking);
  margin: 0 0 .5em;
  color: #726f6f;
  margin: 0 0 44px;
}

.btn-app-mealmate{
  background-color: black;
  color: white;
  border: none;
  border-radius: 16px;
  font: var(--sys-headline-small);
  letter-spacing: var(--sys-headline-small-tracking);
  font-size: 20px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;

  cursor: pointer;
}

.btn-app-mealmate:hover{
  background-color: rgba(0, 0, 0, 0.9);
}

.title-main{
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
  font-size: 35.2px;
  margin:62px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px 0;
}
.content{
  width: 360px;
  height: 332px;
  margin-right: 3rem;
  font: var(--sys-body-large);
  letter-spacing: var(--sys-body-large-tracking);
}
.div-img{
  align-items: center;
}
.img{
  width: 765px;
  height: 437px;
  border-radius: 20px;
}

.icona{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 7px;
}
.title-container{
  font-size: 28px;
  margin-bottom: 12px;
}
.paragrafo-container{
  margin-top: 24px;
  font-size: 20px;
  line-height: 2rem;
  color: #726f6f;
}