/* Coolors Exported Palette - https://coolors.co/058e3f-edf6f9-fe5e41-bced09-001427 */

/* CSS HEX */
:root {
  --forest-green: #058e3fff;
  --alice-blue: #edf6f9ff;
  --tomato: #fe5e41ff;
  --lime: #bced09ff;
  --oxford-blue: #001427ff;
}
