header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 0 50px;
  
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 100px;
  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .left-header, .Nav{
    display: flex;
    align-items: center;
  }
  .Nav{
    list-style: none;
    gap: 2rem;
  }
  .Nav a{
    position: relative;
    color: black;
    text-decoration: none;
  }
  .Nav a::before{
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #33f671,  #14bd77);
    transition: .3s;
  }
  .Nav a:hover::before{
    width: 100%;
  }
  .logo{
    height: 3rem;
    object-fit: cover;
    padding-right: 15px;
  }
  .project-name, .Nav{
    font-size: 20px;
    font-family: "Acme", serif;
    font-weight: 400;
    font-style: normal;
  }