.intro{
  width: 45%;
  text-align: center;
  margin: 9rem auto;
  margin-bottom: 7.125rem;
}

.title{
  font-family: "Acme", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 5.5rem;
  margin: 0 0 44px;
}
.gradient-title{
  background: linear-gradient(to right, #33f671,  #14bd77);
  background-clip: text;
  color: transparent;
}

.subtitle{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin: 0 0 .5em;
  color: #726f6f;
  margin: 0 0 44px;
}

#btn-app-mealmate {
  position: relative;
  color: white;
  border: none;
  border-radius: 16px;
  font-family: "Acme", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: black;
  padding: 15px 33px;

  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.3s;
}

#btn-app-mealmate:hover {
  background-color:#33f671;
  opacity: 0.7;
}

.title-main{
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 35.2px;
  margin:62px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px 0;
}
.content{
  width: 360px;
  height: 332px;
  margin-right: 4rem;
}
.div-img{
  align-items: center;
  }
.img{
  width: 765px;
  height: 437px;
  border-radius: 20px;
}

.icona{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 7px;
}
.title-container{
  font-size: 28px;

  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.paragrafo-container{
  margin-top: 24px;
  font-size: 20px;
  line-height: 2rem;
  color: #726f6f;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.pareri{
  width: 80%;
  margin: auto;

}
.pareri-2{
  display: flex;
  margin-bottom:30px ;
  gap: 2.5rem;

}
.recensione{
  padding: 20px 20px;
  border-radius: 8px;
  background-color: #f8f8fa;
  width: 50%;
}
.text-rec{
  font-size: 20px;
  line-height: 2rem;
  color: #726f6f;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
.utente-rec{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: baseline;
}
.nome-rec{
  font-size: 20px;
  line-height: 2rem;
  color: black;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.foto-rec{
  margin-right: 10px;
}
.foto-rec img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;  
}
.stelle-rec{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.ic-stella{
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.carousel {
  padding: 0 4%;
}